# Lista 5

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('idh0.csv')

def calculate_statistics(uf_code, column_name):
    filtered_df = df[df['UF'] == uf_code]
    
    if column_name not in filtered_df.columns:
        print(f"Coluna {column_name} não encontrada.")
        return
    
    data = filtered_df[column_name].dropna() 
    
    mean_value = data.mean()
    std_dev = data.std()
    percentile_25 = np.percentile(data, 25)
    
    print(f"Media {mean_value:.2f}, Desvio padrão {std_dev:.2f}, 25o percentile = {percentile_25:.2f}")

uf_code = input("Digite o código da unidade federativa (UF): ").strip().upper()
column_name = input("Digite o nome da coluna (LONGVD, EDUC, RENDA, IDHM): ").strip().upper()

valid_columns = ['LONGVD', 'EDUC', 'RENDA', 'IDHM']
if column_name in valid_columns:
    calculate_statistics(uf_code, column_name)
else:
    print("Nome da coluna inválido.")

Média 0.80, Desvio padrão 0.02, 25o percentile = 0.78

In [7]:
df = pd.read_csv("https://drive.google.com/u/3/uc?id=1pfK9x9A6eo8Lcht_roB6YNmZr7z1XPEX&export=download")
df

,REALIZACAO,CODIGO,UF,REGIAO,MUNICIPIO,LONGVD,EDUC,RENDA,ESP_VD_NC,POP_URB,IDHM,POP_25AN,POP_15AN,POP_10AN,POP_7AN,TX_MRT,RD_FM
0,1991,1211,MA,NE,Imperatriz,0.594,0.557,0.514,60.66,75.9,0.555,101836,159249,38668,62370,89.92,0.72
1,1991,2587,PB,NE,Campina Grande,0.592,0.625,0.636,60.51,94.2,0.618,145011,211696,37510,61508,91.02,0.89
2,1991,330,BA,NE,Feira de Santana,0.619,0.635,0.677,62.12,85.9,0.644,164598,253539,52859,85141,58.13,0.94
3,1991,3614,RJ,SE,Nova Igua?u,0.605,0.703,0.636,61.31,99.7,0.648,624314,879743,143922,229464,39.19,0.89
4,1991,819,ES,SE,Cariacica,0.645,0.676,0.645,63.68,95.1,0.655,122088,176673,32793,53207,35.10,0.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,1991,4393,SC,S,Blumenau,0.726,0.781,0.960,68.56,87.8,0.822,107146,148027,20998,34116,21.11,2.14
73,1991,5214,SP,SE,Ribeirao Preto,0.734,0.773,0.968,69.04,97.7,0.825,229858,306353,43618,71763,17.95,2.62
74,1991,4193,RS,S,Porto Alegre,0.690,0.814,0.972,66.42,98.7,0.825,715277,923040,115321,187812,21.35,2.98
75,1991,5269,SP,SE,Santos,0.719,0.799,0.972,68.12,99.7,0.830,254520,324969,37275,59664,20.96,3.05
76,1991,4444,SC,S,Florianopolis,0.710,0.820,0.970,67.57,94.0,0.833,130700,179942,25416,41652,24.63,2.73

# Lista 7

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv("https://drive.google.com/u/3/uc?id=1Ith2Jj9H1QTVrGtgVAWrjQw_DHnr5vcS&export=download", sep= ";", decimal=",")
df

       a     b     c
0  -3.14  7.51 -4.46
1   0.90 -6.33  1.30
2   1.96 -1.87  9.63
3  -0.75 -6.20  7.92
4  -7.91 -0.16 -9.78
..   ...   ...   ...
95 -6.47 -7.74 -6.08
96 -4.71  6.08  4.04
97 -6.58 -0.73  6.09
98  5.91  8.65 -5.08
99 -2.57 -9.93  2.83

[100 rows x 3 columns]

Temperaturas
Considere o arquivo no URL abaixo:

https://drive.google.com/u/3/uc?id=1nuFiziMXVTLuqWInzWXwPArIEZSJY6oX&export=download

Este aquivo contém uma tabela várias temperaturas em graus Celsius medidas em diferentes períodos (Obs.: as colunas desta tabela estão separadas por ponto e vírgula (;) e os números possuem vírgula (,) como marcador da casa decimal).

Desenvolva um programa que lê a tabela acima e converte as temperaturas de graus Celsius para Kelvin ou Fahrenheit, dependendo da entrada que o usuário fornecer. Se o usuário entrar com a letra K, você deve fazer a conversão para Kelvin. Caso o usuário fornecer a letra F, você deve fazer a conversão para Fahrenheit. Se nenhuma destas letras foram entradas, o seu programa deve imprimir a mensagem de erro: Opção Inválida! (Obs.: lembre-se de fazer a leitura com o comando input()).

Por fim, após a conversão das temperaturas, imprima na tela as X primeiras temperaturas convertidas que aparecem na tabela, em que X é um valor inteiro fornecido pelo usuário.

Obs.: Como o arquivo do URL acima, ‘temp1.csv’, está anexado neste exercício, basta chamar o seguinte comando para fazer leitura do arquivo: df = pd.read_csv('temp1.csv',sep=';',decimal=',') Desta forma, não é necessário utilizar a url disponibilizada acima.

Abaixo seguem alguns exemplos de entrada e saída.

Ex. 1:

Entrada:

K
10
Saída:

   Periodo  Temperatura  Kelvin
0        1        36.96  310.11
1        2        35.59  308.74
2        3        34.26  307.41
3        4        36.09  309.24
4        5        33.58  306.73
5        6        34.26  307.41
6        7        32.36  305.51
7        8        37.56  310.71
8        9        36.33  309.48
9       10        38.38  311.53
_

Ex. 2:

Entrada:

K
5
Saída:

   Periodo  Temperatura  Kelvin
0        1        36.96  310.11
1        2        35.59  308.74
2        3        34.26  307.41
3        4        36.09  309.24
4        5        33.58  306.73
_

Ex. 3:

Entrada:

Y
30
Saída:

Opção Inválida!

In [11]:
import pandas as pd

def celsius_to_kelvin(celsius):
    return celsius + 273.15

def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

def main():
    # Carregar o arquivo CSV
    df = pd.read_csv('https://drive.google.com/u/3/uc?id=1nuFiziMXVTLuqWInzWXwPArIEZSJY6oX&export=download', sep=';', decimal=',')
    
    # Ler a opção e o número de registros a serem exibidos
    opcao = input().strip().upper()
    try:
        x = int(input().strip())
    except ValueError:
        print("Número inválido de registros.")
        return

    # Validar a opção e converter as temperaturas
    if opcao == 'K':
        df['Kelvin'] = df['Temperatura'].apply(celsius_to_kelvin)
        print(df[['Periodo', 'Temperatura', 'Kelvin']].head(x).to_string(index=False))
    elif opcao == 'F':
        df['Fahrenheit'] = df['Temperatura'].apply(celsius_to_fahrenheit)
        print(df[['Periodo', 'Temperatura', 'Fahrenheit']].head(x).to_string(index=False))
    else:
        print("Opção Inválida!")

# Verificar se o módulo está sendo executado diretamente
if __name__ == "__main__":
    main()

 Periodo  Temperatura  Kelvin
       1        36.96  310.11
       2        35.59  308.74
       3        34.26  307.41
       4        36.09  309.24
       5        33.58  306.73
       6        34.26  307.41
       7        32.36  305.51
       8        37.56  310.71
       9        36.33  309.48
      10        38.38  311.53

In [8]:
df = pd.read_csv('https://drive.google.com/u/3/uc?id=1nuFiziMXVTLuqWInzWXwPArIEZSJY6oX&export=download', sep=';', decimal=',')
df

    Periodo  Temperatura
0         1        36.96
1         2        35.59
2         3        34.26
3         4        36.09
4         5        33.58
..      ...          ...
95       96        37.40
96       97        35.88
97       98        34.56
98       99        36.44
99      100        35.16

[100 rows x 2 columns]

# Lista 8

In [17]:
num = 0
while num >= 0:
    perg = float(input("Escolha um número"))
    if perg %2 == 0:
        print("Este número é par")
    elif perg %2 != 0:
        print("Este numero é impar")

Este numero é impar

ValueError: could not convert string to float: ''