# Lista 5

In [13]:
import pandas as pd
import numpy as np

df = pd.read_csv("https://drive.google.com/u/3/uc?id=1pfK9x9A6eo8Lcht_roB6YNmZr7z1XPEX&export=download")
uf=input("Digite o UF").strip().upper()
atr = input("Digite o atributo que deseja saber").strip().upper()

col_val = [ 'LONGVD', 'EDUC', 'RENDA', 'IDHM' ]

if atr in col_val:
    dados_uf = df[df['UF'] == uf]

    if atr not in dados_uf.columns:
        print(f"O atributo {atr} não existe em nossos bancos de dados.")
    
    else:
        if dados_uf[atr].isnull().all():
            print(f"Não há dados válidos para a coluna {atr} na UF {uf}.")
        else:
            media = dados_uf[atr].mean()
            desv = dados_uf[atr].std()
            percentile = np.percentile(dados_uf[atr].dropna(), 25)

            print(f"Média: {media:.2f}")
            print(f"Desvio padrão: {desv:.2f}")
            print(f"25o percentile: {percentile:.2f}")
else:
    print("Coluna inválida. As opções válidas são: LONGVD, EDUC, RENDA, IDHM.")

Coluna inválida. As opções válidas são: LONGVD, EDUC, RENDA, IDHM.

In [7]:
df = pd.read_csv("https://drive.google.com/u/3/uc?id=1pfK9x9A6eo8Lcht_roB6YNmZr7z1XPEX&export=download")
df

,REALIZACAO,CODIGO,UF,REGIAO,MUNICIPIO,LONGVD,EDUC,RENDA,ESP_VD_NC,POP_URB,IDHM,POP_25AN,POP_15AN,POP_10AN,POP_7AN,TX_MRT,RD_FM
0,1991,1211,MA,NE,Imperatriz,0.594,0.557,0.514,60.66,75.9,0.555,101836,159249,38668,62370,89.92,0.72
1,1991,2587,PB,NE,Campina Grande,0.592,0.625,0.636,60.51,94.2,0.618,145011,211696,37510,61508,91.02,0.89
2,1991,330,BA,NE,Feira de Santana,0.619,0.635,0.677,62.12,85.9,0.644,164598,253539,52859,85141,58.13,0.94
3,1991,3614,RJ,SE,Nova Igua?u,0.605,0.703,0.636,61.31,99.7,0.648,624314,879743,143922,229464,39.19,0.89
4,1991,819,ES,SE,Cariacica,0.645,0.676,0.645,63.68,95.1,0.655,122088,176673,32793,53207,35.10,0.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,1991,4393,SC,S,Blumenau,0.726,0.781,0.960,68.56,87.8,0.822,107146,148027,20998,34116,21.11,2.14
73,1991,5214,SP,SE,Ribeirao Preto,0.734,0.773,0.968,69.04,97.7,0.825,229858,306353,43618,71763,17.95,2.62
74,1991,4193,RS,S,Porto Alegre,0.690,0.814,0.972,66.42,98.7,0.825,715277,923040,115321,187812,21.35,2.98
75,1991,5269,SP,SE,Santos,0.719,0.799,0.972,68.12,99.7,0.830,254520,324969,37275,59664,20.96,3.05
76,1991,4444,SC,S,Florianopolis,0.710,0.820,0.970,67.57,94.0,0.833,130700,179942,25416,41652,24.63,2.73

# Lista 7

In [3]:
import pandas as pd
import numpy as np

df = pd.read_csv("https://drive.google.com/u/3/uc?id=1Ith2Jj9H1QTVrGtgVAWrjQw_DHnr5vcS&export=download", sep= ";", decimal=",")
df

       a     b     c
0  -3.14  7.51 -4.46
1   0.90 -6.33  1.30
2   1.96 -1.87  9.63
3  -0.75 -6.20  7.92
4  -7.91 -0.16 -9.78
..   ...   ...   ...
95 -6.47 -7.74 -6.08
96 -4.71  6.08  4.04
97 -6.58 -0.73  6.09
98  5.91  8.65 -5.08
99 -2.57 -9.93  2.83

[100 rows x 3 columns]